<!DOCTYPE html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="/stylesheets/index.css">
</head>

<body>
  <canvas id="myCanvas"></canvas>
  <script src="/javascripts/vector.js"></script>
  <script src="/javascripts/ball.js"></script>
  <script src="/javascripts/main.js"></script>
</body>

</html>