@page {
  size: A4;
  margin-top: 0mm;
  margin-right: 0mm;
  margin-bottom: 0mm;
  margin-left: 0mm;
  /*   
    @bottom-left {
      content: counter(page);
    }
  
    @bottom-center {
      content: string(title);
      text-transform: uppercase;
    } */
}
